In [7]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [8]:
import pandas as pd
import numpy as np
import rpy2

In [9]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('/home/sean-cx1/Downloads/pitchfork.sqlite')

In [10]:
%load_ext rpy2.ipython

In [11]:
%R library('ggplot2')
%R library(scales)

R[write to console]: Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

array(['scales', 'ggplot2', 'tools', 'stats', 'graphics', 'grDevices',
       'utils', 'datasets', 'methods', 'base'], dtype='<U9')

In [14]:
content = pd.read_sql('Select * from content',conn)

In [12]:
reviews = pd.read_sql('Select * from reviews',conn)

In [16]:
reviews = pd.merge(reviews,content,how='inner',on='reviewid')

In [ ]:
analyzer = SentimentIntensityAnalyzer()

In [30]:
sentiment_master_list = []
for i,row in reviews.iterrows():
    review_text = row['content']
    sentiment = analyzer.polarity_scores(review_text)
    sentiment_master_list.append([row['artist'],row['title'],sentiment['neg'],sentiment['neu'],sentiment['pos'],sentiment['compound']])

In [35]:
sentiment_df = pd.DataFrame(sentiment_master_list,columns=['artist','title','neg','neu','pos','compound'])

In [36]:
sentiment_df.to_csv('sentiment_scores.csv')

,artist,title,neg,neu,pos,compound
0,massive attack,mezzanine,0.101,0.800,0.098,-0.4302
1,krallice,prelapsarian,0.077,0.870,0.053,-0.8661
2,uranium club,all of them naturals,0.049,0.866,0.084,0.9504
3,"kleenex, liliput",first songs,0.077,0.776,0.148,0.9987
4,taso,new start,0.012,0.862,0.127,0.9968
...,...,...,...,...,...,...
18396,coldcut,let us replay!,0.042,0.855,0.103,0.9799
18397,cassius,1999,0.033,0.760,0.207,0.9934
18398,mojave 3,out of tune,0.095,0.772,0.134,0.9901
18399,don caballero,"singles breaking up, vol. 1",0.110,0.695,0.195,0.9924
18400,neil hamburger,left for dead in malaysia,0.166,0.711,0.124,-0.9593